.cell{
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: #F7F7F9;
  float: left;
  border-color: #DDD;
  font-size: 20px;
  font-family: Arial, sans-serif;
}
.cell.answered{
  color: blue;
}
.cell.duplicated{
  color: red;
}
.cell.fixed{
  /*font-weight: bold;*/
}
.cell.hover{
  background-color: #BEBEC5;
}
.group{
  width: 107px;      
  float: left;
}
.border{
  border-style: solid;
  border-width: 1px;        
}
#sudoku-99{
  width: 323px;
  height: 323px;
}
.container{
  width: 790px;
}
#progress{
  margin-top: 10px;
  display: none;
}
#preview{
  margin-top: 20px;  
}